@import "../App/variables";
@import "../App/mixins";
@import "../App/colors";

.overlay {
  position: fixed;
  @include flex($align: center, $justify: center);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba($color: #000, $alpha: 0.555);
  .modal {
    background-color: $black-coffee;
    border-radius: $border-radius;
    padding: $pad2;
    .modal-inner {
      border-radius: $border-radius;
      padding: $pad5;
      background-color: $unbleached-silk;
      h1 {
        line-height: 100%;
        margin: 0;
        margin-bottom: 16px;
        text-align: center;
      }
      .score-wrapper {
        @include flex($justify: space-around);
        .score {
          @include flex($dir: column, $align: center);
        }
      }
      .links {
        @include flex($dir: column);
        margin-top: $pad4;
        gap: $pad4;
      }
    }
  }
}
