@import "../App/colors";
@import "../App/mixins";
@import "../App/variables";

.form {
  @include flex($dir: column, $align: center, $gap: $pad4);
}

input {
  padding: $pad2 $pad4;
  border-radius: 999px;
  border: none;
  width: 100%;
  font-size: 1rem;
}
