@import "../App/mixins";
@import "../App/colors";

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 8px;
  width: 75vmin;
  height: 75vmin;
  background-color: $black-coffee;
  .place {
    @include flex($align: center, $justify: center);
    background-color: $dark-green;
    aspect-ratio: 1;
    &.clickable {
      cursor: pointer;
    }
    .piece {
      width: 90%;
      height: 90%;
      border-radius: 100%;
      &.white {
        background-color: white;
      }
      &.black {
        background-color: black;
      }
    }
  }
}
